#####
# DOCKER provider
#####
providers:
  docker:    
    swarmMode: true
    # exposedbydefault: false
  {% raw %}
    defaultRule: "PathPrefix(`{{ trimPrefix `/` .Name }}`)"
  {% endraw %}

#####
# OPS configs
#####
api:
  dashboard: true
  debug: {{ debug }}

log:
  filePath: "/traefik.log"

accessLog:
  filePath: "/traefik-access.log"

#####
# CORE configs
#####
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https

  websecure:
    address: :443

#####
# SECURITY configs
#####
certificatesResolvers:
  myresolver:
    # Enable ACME (Let's Encrypt): automatic SSL.
    acme:

      caServer: {{ caServer }}

      # Email address used for registration.
      #
      # Required
      #
      email: "{{ email }}"

      # File or key used for certificates storage.
      #
      # Required
      #
      storage: "acme.json"

      # Use a TLS-ALPN-01 ACME challenge.
      #
      # Optional (but recommended)
      #
      tlsChallenge: {}

      # Use the DNS-01 challenge to generate and renew ACME certificates by provisioning a DNS record.
      # Configuration is specific to your DNS provider
      #
      # Optional (but recommended)
      #
      dnsChallenge:
        provider: {{ dnsChallengeProvider }}
        delayBeforeCheck: 10